<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for (@alert) do |f| %>
        <%= f.input :keyword %>
        <%= f.input :exact_keyword %>
        <%= f.label :keywords_excluded, 'Keywords excluded (comma-separated)' %>
        <%= f.input :keywords_excluded, label: false %>
        <%= f.label :hashtags, 'Hashtags (comma-separated)' %>
        <%= f.input :hashtags, label: false %>
        <%= f.input :retweets_included %>
        <%= f.label :follower_threshold, 'Minimum followers' %>
        <%= f.input :follower_threshold, label: false %>
        <%= f.submit class: 'primary-button-small' %>
      <% end %>
    </div>
  </div>
</div>